@import '../../assets/styles/settings.scss';
@import '../../assets/styles/helpers.scss';

.card {
  &__wrapper {
    margin: torem(5px);
    border: 1px solid $base-color;
  }
  
  &__actions {
    position: absolute;
    background-color: $base-color;
    i {
      margin: torem(3px);
      color: $secondary-color;
      font-size: torem(15px);
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
